<h2>後台首頁</h2>
<hr/>

<ul>待完成:
  <li>使用者錢包</li>
  <li>預約動作 class 含頁面</li>
  <li>預約活動表 rable</li>
  <li>飯店項目時間點與預約表對應關係</li>
  <li>後台編輯使用者可以不需要登入使用者</li>
</ul>

<p><%= link_to "前往飯店編輯頁面", admin_hotels_path %></p>
<p><%= link_to "前往使用者管理頁面", admin_users_management_index_path %></p>
<p><%= link_to "查看所有預約記錄", admin_booking_records_path %></p>